[global]
server.socket_host: '104.155.105.23'
server.socket_port: 8099

[/]
tools.sessions.on: True
tools.staticdir.root: os.path.abspath(os.getcwd())

[/css]
tools.staticdir.on: True
tools.staticdir.dir: "css"

[/js]
tools.staticdir.on: True
tools.staticdir.dir: "js"

[/fonts]
tools.staticdir.on: True
tools.staticdir.dir: "fonts"
